.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s all;
    &__active {
        transition: 1s all;
        display: block;
    }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 2;
    &__video {
        position: relative;
        aspect-ratio: 16 / 9;
        // z-index: 5;
    }
    &__video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // z-index: 5;
    }
    &__close {
        position: absolute;
        position: absolute;
        font-size: 41px;
        line-height: 26px;
        color: #fff;
        top: 0;
        right: -52px;
        cursor: pointer;
    }
}