.menu {
    position: absolute;
    
    top: 50%;
    right: -210px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    transform: rotate(-90deg);
    &__general {
        min-width: 50%;
        display: flex;
        gap: 32px;
    }
    &__social {
        min-width: 25%;
        display: flex;
        justify-content: space-between;
    }
    &__link {
        font-family:'Circular Std', sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        color: #000000;
        &:hover {
            text-decoration: none;
            color: $main-color;

        }
    }
}